body {
  margin: 6rem 0;
}
.main-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f8f9fa;
}

.main-menu__item {
  padding: 0.5rem;
  border-radius: 5px;
}

.main-menu__item--active {
  background-color: #007bff;
  color: #fff;
}

.main-menu__item--active a {
  background-color: #007bff;
  color: #fff;
}

.main-menu__item--left {
  margin-right: auto;
}

.main-menu__link {
  text-decoration: none;
  color: royalblue;
}

.title {
  font-size: 2rem;
}

.section {
  padding: 0 1rem;
}
